@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-container {
    @apply max-w-[1400px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.logo {
  font-family: 'Irish Grover', cursive;
  font-size: xx-large;
  font-weight: 200;
  color: #FF6E30;
}